*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 140px;
}

.btn:hover{
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.btn + .btn{
    margin-left: 16px;
}
.btn--success{
    background-color: #71be34;
}

.btn--warn{
    background-color: #ffb702;
}
.btn--danger{
    background-color: #ff623d;
}

.btn--disabled{
    opacity: 0.5 !important;
    cursor: default;
}

.btn--size-l{
    padding: 16px 56px;
}

.btn--size-s{
    padding: 9px 32px;
}
